/* PHASE 8: Thumbs */

.thumb {
  float: left;
  height: 60px;
  width: 60px;
}

.thumb img{
  display: block;
  height: auto;
  width: 100%;
}

.profile-friends:nth-child(3n-1) {
  margin-left: 10px;
  margin-right: 10px;
}
